/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/06/2017, 06:32:13 PM
    Author     : Eduardo Paz
    Email      : elyonedu@gmail.com / elyon@outlook.es
   organización: EMPET S.A.C.
*/


*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    display: block;
    float: left;
    background: #E6E6E6;
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    width:100%;
    display: block;
    float: left;
}

/**--------SECCION SESION-------------*/
.sesion{
    width: 400px;
    margin: 80px auto;
}
.sesion .grupo_sesion{
    width: 100%;
    display: block;
    float: left;
    padding: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border:2px dashed #aaaaaa;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.sesion .grupo_sesion img{
    width: 100px;
    margin: 0 auto;
    margin-bottom: 10px;
}
.sesion .grupo_sesion input{
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    margin-bottom: 2px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.sesion .grupo_sesion input:invalid{
    border-bottom:1px solid #aaaaaa;
    transition: 1s;
}
.sesion .grupo_sesion input:valid{
    border-bottom:none;
    transition: 1s;
}

#btnsesion{
    background:#3B0B39;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

/*------------SECCION ROL -------------*/

.rol_seccion{
    width: 100%;
    display: block;
    float: left;
}
.bienvenido{
    width: 100%;
    display: block;
    float: left;
    padding: 10px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: gray;
    text-align: center;
    font-size: 12px;
}
.rol_seccion .grup_rol{
    width: 47%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    margin-left: 8px;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.rol_seccion .grup_rol img{
    width: 50%;
}
.rol_seccion .grup_rol p{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:gray;
    font-size: 12px;
    text-align: center;
    border-top:1px solid #BDBDBD;
}
.rol_seccion .grup_rol:hover{
    opacity:0.7;
    transition:0.5;
    cursor: pointer;
}

/**--------SECCION CABEZA-------------*/
.cabeza{
    width: 100%;
    display: block;
    float: left;
    position: fixed;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    z-index: 9999;
}
.cabeza-seccion{
    width: 100%;
    display: block;
    float: left;
    background: #660066;
}
.cabeza .logo{
    width: 900px;
    margin: 0 auto;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}
.cabeza .logo img{
    width:60px;
}
.cabeza .cabeza-seccion .bienvenido{
    width: 150px;
    display: block;
    float: left;
    position:absolute;
    padding: 10px;
    background: #770177;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: -75px;
    -webkit-border-radius:0 30px 0 0 ;
    -moz-border-radius:0 30px 0 0 ;
    border-radius:0 30px 0 0 ;
    opacity:0.7;
}
.cabeza .cabeza-seccion .bienvenido a{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size:9px;
    text-align: left;
    text-decoration: none;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cabeza .cabeza-seccion .bienvenido a:hover{
    opacity:0.8;
}
.cabeza .cabeza-seccion .bienvenido p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 9px;
    text-align: left;
    padding: 3px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.cabeza .menu{
    width: 150px;
    display: block;
    float: left;
    margin-top: 80px;
    position: fixed;
}
.cabeza .menu nav{
    width: 100%;
    display: block;
    float: left;
}
.cabeza .menu nav ul{
    width: 100%;
    display: block;
    float: left;
}
.cabeza .menu nav ul li{
    width: 100%;
    display: block;
    float: left;
    margin-bottom: 2px;
}
.cabeza .menu nav ul li img{
    width: 45px;
    display: block;
    float: left;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #770177;
    cursor: pointer;
    -webkit-border-radius:45px;
    -moz-border-radius:45px;
    border-radius:45px;
}
.cabeza .menu nav ul li img:hover{
    background:darkred;
    transition: 0.5s;
}
.cabeza .menu nav ul li a:hover > span{
    display: block;
}
.cabeza .menu nav ul li a{
    width: 100%;
    display:block;
    float: left;
    text-decoration: none;
    font-size: 10.5px;
    text-align: left;
}
.cabeza .menu nav ul li a span{
    width: 70%;
    display:none;
    float: left;
    padding: 10px;
    color:gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom:1px solid gray;
    font-weight:bold;
}

/**--------SECCION CUERPO------------*/
/**----------------------------------*/

.cuerpo{
    width: 900px;
    margin: 120px auto;
}
.cuerpo .nav-elementos{
    width: 100%;
    height: 370px;
    display: block;
    float: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background:#3B0B39;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
}
.cuerpo .nav-elementos .titulo-elem{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 19px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rebeccapurple;
}
.cuerpo .nav-elementos .descrip-elem{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 13px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cuerpo .nav-elementos .grupo-item-elem{
    width: 100%;
    margin: 0 auto;
}
.cuerpo .nav-elementos .item-elem{
    width: 16%;
    display: block;
    float: left;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 20px;
    margin-left: 4px;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.cuerpo .nav-elementos .item-elem a img{
    width: 70%;
}
.cuerpo .nav-elementos .item-elem a p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 20px;
}
.cuerpo .nav-elementos .item-elem:hover{
    background: #3B0B39;
    transition: 0.5s;
}
/**-----------SECCION PROMOTORES------------------*/

.cuerpo .grupo-promotores{
    width: 100%;
    background: #3B0B39;
    display: block;
    float: left;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:0 0 10px 10px;
    -moz-border-radius:0 0 10px 10px;
    border-radius:0 0 10px 10px;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
}
.cuerpo .grupo-promotores .titulo-promotor{
    width: 100%;
    display: block;
    float: left;
    color:white;
    font-size: 19px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid rebeccapurple;
    margin-bottom: 30px;
}
.cuerpo .grupo-promotores .item-promotores{
    width: 80%;
    margin: 0 auto;
}
#global{
    width: 100%;
}
.cuerpo .grupo-promotores .item-promotores a{
    width: 17.9%;
    display: block;
    float: left;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.cuerpo .grupo-promotores .item-promotores p{
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 5px;
    cursor: pointer;
    font-size: 12px;
    color:white;
}

.cuerpo .grupo-promotores .item-promotores a img{
    width: 70%;
}
.cuerpo .grupo-promotores .item-promotores a p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 20px;
}
.cuerpo .grupo-promotores .item-promotores a:hover{
    background: #3B0B39;
    transition: 0.5s;
}
.cuerpo .grupo-promotores .promotor_detalle{
    width: 60%;
    display: block;
    float: right;
}

.cuerpo .grupo-promotores .promotor_detalle a{
    width: 20%;
    display: block;
    float: left;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 20px;
    margin-left: 5px;
    cursor: pointer;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
#left-pos{
    display: block;
    float: right;
}
.cuerpo .grupo-promotores .promotor_detalle a img{
    width: 50%;
}
.cuerpo .grupo-promotores .promotor_detalle a p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 11px;
    text-align: center;
    text-decoration: none;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #660066;
    margin-top: 5px;
}
.cuerpo .grupo-promotores .promotor_detalle a:hover{
    background: #3B0B39;
    transition: 0.5s;
}
.cuerpo .grupo-promotores .grupo_detalle{
    width: 100%;
    display: block;
    float: left;
    margin-top: 30px;
}
.cuerpo .grupo-promotores .grupo_detalle .titulo_detalle{
    width: 100%;
    display: block;
    float: left;
    color: white;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 13px;
    border-bottom: 2px dashed #770177;
}
.cuerpo .grupo-promotores .grupo_detalle .afiliaciones_promotor_dia{
    width: 19.42%;
    display: block;
    float: left;
    margin-top: 20px;
    margin-right: 5px;
}
.cuerpo .grupo-promotores .grupo_detalle .afiliaciones_promotor_dia .contador_ap_dia{
    width: 100%;
    display: block;
    float: left;
    background: #610B4B;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}
.cuerpo .grupo-promotores .grupo_detalle .afiliaciones_promotor_dia .contador_ap_dia .n_afi_dia{
    width: 100%;
    display: block;
    float: left;
    color: orange;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cuerpo .grupo-promotores .grupo_detalle .afiliaciones_promotor .contador_ap p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cuerpo .grupo-promotores .grupo_detalle .afiliaciones_promotor_dia .contador_ap_dia p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}




.cuerpo .item-promotores .afiliaciones_promotor{
    width: 20%;
    display: block;
    float: left;
    margin-top: 20px;
}
.cuerpo .item-promotores .afiliaciones_promotor .contador_ap{
    width: 100%;
    display: block;
    float: left;
    background: crimson;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.cuerpo .item-promotores .afiliaciones_promotor .contador_ap .n_afi{
    width: 100%;
    display: block;
    float: left;
    color: orange;
    font-size: 40px;
    text-align: center;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cuerpo .item-promotores .afiliaciones_promotor .contador_ap p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#container {
    width: 100%;
    display: block;
    float: left;
    /*min-width: 310px;
    max-width: 800px;*/
    height: 400px;
    z-index: 99999;
    margin-top: 30px;
}

/*-------------INDICADORES - TENDENCIA GLOBAL-------*/

.bar_tendencia{
    width: 100%;
    display:block;
    float: left;
}
.bar_tendencia .grupo_bar{
    width: 100%;
    display:block;
    float: left;
}
.bar_tendencia .grupo_bar .item_bar{
    width: 100%;
    display:block;
    float: left;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
}
.bar_tendencia .grupo_bar .item_bar p{
    width: 20%;
    display:block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: left;
}
.bar_tendencia .grupo_bar .item_bar .porcent{
    width: 10%;
    display:block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: left;
}
.bar_tendencia .grupo_bar .item_bar .bar{
    width: 60%;
    display:block;
    float: left;
}
.bar_tendencia .grupo_bar .item_bar .bar .bar_grafico{
    width: 0%;
    height: 12px;
    display:block;
    float: left;
    background: #2EFEF7;
    padding: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}
#cod_grupo{
    width: 100%;
}
#cod_reclamados{
    background: #770177;
    margin-top: 10px;
}



/*--------------SECCION BUSCAR AFILIADO----------*/
#bgbuscar{
    background: #BDBDBD;
}
.buscar_afiliado{
    width: 900px;
    display: block;
    float: left;
    background:#3B0B39;
    padding:30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:0 0 30px 30px;
    -moz-border-radius:0 0 30px 30px;
    border-radius:0 0 30px 30px;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
}

.buscar_afiliado .titulo_buscar{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 19px;
    text-align: center;
    border-bottom: 1px solid #770177;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.buscar_afiliado p{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 12px;
    text-align: center;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.buscar_afiliado span{
    width: 100%;
    display: block;
    float: left;
    color: white;
    font-size: 13px;
    text-align: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: 15px;
    background: #770177;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.buscar_afiliado .box_buscar{
    width: 40%;
    margin: 0 auto;
    text-align: center;
}
.buscar_afiliado .box_buscar img{
    width: 130px;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    opacity:0.5;
}
.buscar_afiliado input{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    background: #660066;
    border:none;
    outline:none;
    text-align: center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.buscar_afiliado input::placeholder{
    color:white;
}
.buscar_afiliado input:valid{
    background: #770177;
    transition: 1s;
}.buscar_afiliado input:invalid{
    background:#3B0B39;
     transition: 1s;
    border-bottom: 1px solid crimson;
}
.buscar_afiliado #btn_buscar{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    background:darkred;
    border:none;
    outline:none;
    margin-top: 15px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    cursor: pointer;
}
.msjconsulta{
    width: 100%;
    display: block;
    float:left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size:13px;
    text-align: center;
    color:white;
}
.input_opcion{
    width: 100%;
    display: block;
    float: left;
}
.detalle_cod{
    width: 100%;
    display: block;
    float: left;
    margin-top: 20px;
    background: #aaaaaa;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.detalle_cod .cod_img{
    width:19%;
    display: block;
    float: left;
    margin-left: 5px;
}
.detalle_cod .cod_img label{
    width: 100%;
    display: block;
    float: left;
    cursor: pointer;
}
.detalle_cod .cod_img label img{
    width: 100%;
    opacity: 1;
    border:1px dashed #3B0B39;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}
.detalle_cod .cod_img input{
    width: 20px;
    display: block;
    float: left;
    position: absolute;
    margin-top:5px;
}
.buscar_afiliado .input_opcion .noaten,
.buscar_afiliado .input_opcion .aten
{
    width: 45%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 11px;
    background:darkred;
    border:none;
    outline:none;
    margin-top: 15px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}
.buscar_afiliado input:hover{
    opacity:0.7;
}
#noaten{
    background: #cc3300;
    float:right;
}
#aten{
    background:#770177;
    float:right;
}


/*-------VENTANA - MODIFICAR DATOS----*/


.box-ventana{
    width: 400px;
    display: block;
    float: left;
    padding:50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #3B0B39;
    -webkit-border-radius:5px 0 0 5px;
    -moz-border-radius:5px 0 0 5px;
    border-radius:5px 0 0 5px;
    position: fixed;
    right: -100%;
    margin-top: 100px;
    -webkit-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    -moz-box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);
    box-shadow: 7px 18px 18px -14px rgba(0,0,0,0.56);

}
.box-ventana .titulo_modificar{
    width: 100%;
    display: block;
    float: left;
    padding:20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    text-align: center;
    font-size: 19px;
    margin-bottom: 50px;
    border-bottom:1px solid white;
}
.box-ventana .ventana-input{
    width: 100%;
    margin: 0 auto;
}
.box-ventana span{
    width: 100%;
    display: block;
    float: left;
    color: white;
    text-align: left;
    font-size: 17px;
    cursor: pointer;
}

.box-ventana .ventana-input input{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:gray;
    text-align:left;
    font-size: 12px;
    border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    outline:none;
    margin-bottom: 3px;
}
.box-ventana .ventana-input input:valid{
    background: #770177;
    transition: 1s;
    color: white;
}
.box-ventana .ventana-input input:invalid{
    background: #3B0B39;
    transition: 1s;
    border-bottom:1px solid #770177;
}
#btn-modificar{
    background: #770177;
    text-align: center;
    margin-top: 10px;
    color: white;
    width: 200px;
    float: right;
    cursor: pointer;
}
#btn-modificar:hover{
    opacity:0.7;
}

/*-----------------------------------------------*/

/*--------------NUEVO USUARIO--------*/
#bg_nuevouser{
    background:#BDBDBD;
}
#nuevo_user{
    background: none;
    border: 1px dashed #cc00cc;
}

.item-nuevouser{
    width: 50%;
    margin:0 auto;
}
.item-nuevouser input::placeholder{
    color:white;
}
.item-nuevouser input:valid{
    background: #770177;
    transition: 1s;
}
.item-nuevouser input:invalid{
    background: none;
    border-bottom: 1px solid #777777;
    transition: 1s;
}
.item-nuevouser p{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:#3B0B39;
    font-size: 12px;
    text-align:center;
    margin-bottom: 10px;
}
.item-nuevouser input{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    text-align: left;
    background: #770177;
    border:none;
    margin-bottom: 3px;
    outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.item-nuevouser select{
    width: 100%;
    display: block;
    float: left;
    padding:10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: white;
    font-size: 12px;
    text-align: left;
    background: #770177;
    border:none;
    margin-bottom: 3px;
    outline: none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    cursor: pointer;
}
.item-nuevouser select:valid{
    background: #3B0B39;
}
.item-nuevouser select:invalid{
    background: orangered;
}
#btn_nuevo{
    background: #3B0B39;
    text-align: center;
    cursor: pointer;
}
/*--------------------------------------*/
/**--------SECCION PIE DE PAGINA------------*/

.pie{
    width: 900px;
    margin: 0 auto;
}
.pie footer{
    width: 100%;
    display: block;
    float: left;
    padding:20px;
    font-size: 11px;
    text-align: center;
    color: gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

